<div class="global-header">
	<div id="global-header-inner" class="global-header-inner">
		<div id="header-wrapper" class="header-wrapper">
			<div id="header-logo" class="header-logo">
				<%= link_to root_path do %>
					<%= image_tag "https://s3.us-east-2.amazonaws.com/rbsk/transparent-rbsk-law-logo-light-backgrounds.png", class: "" %>
				<% end %>
			</div>




			<div id="main-menu" class="main-menu">
				<ul role="menu" class="navigation-list">
					<li class="navigation-item"><%= link_to "Home".upcase, root_path %></li> 
					<li class="navigation-item"><%= link_to "About".upcase, root_path %></li> 
					<li class="navigation-item"><%= link_to "Who We Serve".upcase, root_path %></li> 
					<li class="navigation-item"><%= link_to "Services We Provide".upcase, root_path %></li> 
					<li class="navigation-item"><%= link_to "Contact Us".upcase, root_path %></li> 
					<li class="navigation-item"><%= link_to "Terms & Definitions".upcase, root_path %></li> 
				</ul>
			</div>


		</div>
	</div>
</div>

<div class="main-body">

	<div class="hero">
  	<div class="caption">
			<p>
			<%= image_tag "https://s3.us-east-2.amazonaws.com/rbsk/transparent-rbsk-law-logo-white.png", class: "", style: "height:200px;" %>
			<br>

			<%= image_tag "https://s3.us-east-2.amazonaws.com/rbsk/ready_beaulieu_saunders_and_kostin.png", class: "", style: "height:100px;" %>
  		<!--span class="border">READY | BEAULIEU | SAUNDERS | KOSTIN</span-->
			</p>
  	</div>

		<div class="hero-callout">
			<h2>Reliable. Dependable. Trusted.</h2>
			<p>At the RBSK Law Offices, our clients come first. With over 20 years of experience, our clients include more than 15 large hospitals in Eastern MA. Our experience includes settling multi-million dollar will contests, resolving contested trusts, cases involving end of life issues and thousands of other cases with the goal of protecting the injured and disabled. With expertise in a variety of practice areas our team of dedicated attorneys is available to offer to assistance to individuals as well as organizations.
			</p>

			<p>
			<br>
			<%= link_to "Contact Us", root_path, class: "button" %>
			</p>

		</div>

	</div>

	<div style="margin:160px 100px 100px 100px;">

		<div class="row">
			<div class="col-md-6">
				<div style="width:40%;background-color: #efe3c7;padding:20px 30px;font-weight:bold;font-size:16px;color:#aa8330">
					<span>//&nbsp;&nbsp;WHO WE SERVE</span>
				</div>
				<div style="width:80%;">
					<h1 style="font-size:48px;color:#9d792c">How Can We Help?</h1>
					<p style="font-size:16px;line-height:24px;">
In need of some legal assistance? Look no further. Our team of dedicated employees are here to serve you every step of the way. From hospitals to new adults to seniors, we are well versed in guiding you through the challenges of addressing legal concerns. Whether you are looking for assistance with estate planning, real estate transactions or patient care concerns, RBSK Law and our team of dedicated staff is committed to assisting you. 
					</p>
					<p>
						<%= link_to "Learn More", root_path, class: "button" %>
					</p>
	
				</div>

			</div>

			<div class="col-md-6">
				<%= image_tag "https://s3.us-east-2.amazonaws.com/rbsk/images/people_served_4a.jpg", class: "", style: "width:100%" %>
			</div>

		</div>

	</div>





<div style="color: #777;background-color:#f0f0f0;text-align:center;padding:50px 80px;text-align: justify;">
  <h1 style="text-align:center;font-size:48px;color:#9d792c">About Us</h1>
  <p style="font-size:16px;line-height:24px;">
    Our clients are our first priority. As a team of attorneys, we are able to work collaboratively, together and with our clients, to determine the ideal legal strategy for each particular case. We seek to provide first-class counsel to individuals as well as organizations in areas including estate planning, family law, probate law, elder and disability law, and civil litigation, as well as providing fiduciary services and advice to closely held corporations. Engaging RBSK Law Offices for your legal needs provides you with a team of professionals who strive for excellence in each case.
  </p>

</div>

<div class="bgimg-2">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">EXPERTISE. PROFESSIONALISM.</span>


    <div class="hero-callout">
	<p>
	</p>

	<p>
	  <br>
	  <%= link_to "Meet Our Team", root_path, class: "button-dark" %>
	</p>
	
    </div>



    
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <h2>What Others Are Saying About Us</h2>
    <p>"Matthew Beaulieu has provided top notch legal services to hospitals throughout the Partners HealthCare System including Brigham & Women’s and Faulkner Hospitals. His representation has resulted in excellent results for both the hospitals and the patients they serve, ensuring that care and discharge are appropriate and efficient, and that patients obtain ongoing care in the most appropriate setting."</p>
    <p>-- Joshua Abrams, Senior Attorney</p>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">OUR SERVICES</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
  <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>





























</div>


<% content_for :scripts do %>
  <script type="text/javascript">

		window.onscroll = function() {scrollFunction()};

		function scrollFunction() {
  		if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
      	document.getElementById('global-header-inner').classList.add("smaller");
      	document.getElementById('header-wrapper').classList.add("smaller");
      	document.getElementById('header-logo').classList.add("smaller");
      	document.getElementById('main-menu').classList.add("smaller");
  		} else {
      	document.getElementById('global-header-inner').classList.remove("smaller");
      	document.getElementById('header-wrapper').classList.remove("smaller");
      	document.getElementById('header-logo').classList.remove("smaller");
      	document.getElementById('main-menu').classList.remove("smaller");

  		}
		}


  </script>
<% end %>














