<!DOCTYPE html>
<html lang="en">
  <link href="https://fonts.googleapis.com/css?family=Oswald|Spectral|Cardo|Amiri" rel="stylesheet">
  
<head>

    <title>RBSK Law</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" media="screen" href="css.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    
<style>


  #slideshow {
  margin: 0px auto;
  position: relative;
  width: 380px;
  height: 240px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  }

  #slideshow > div {
  position: absolute;
  top: 20px;
  left: 10px;
  right: 20px;
  bottom: 10px;
  }
  
  .services {
  width: 50%;
  float: left;
  min-height: 800px;
  height:auto;
  overflow:auto;
  margin-bottom: -6px;
  color: #08152b;
  }

  .services > p {
  color: #08152b;
  }

  .service-content:hover {
  //background: #08152b;
  }
  
  .services-content > p {
  color: #08152b;
  }

  .services-content > p > a {
  color: #08152b;
  }

  .services-content:hover > p {
  //color: #fff;
  }

  .services-content:hover > p > a {
  //color: #fff;
  }

  .services-content > p > a:hover, .services-content:hover > p > a:hover {
  opacity: 0.8;
  }

  .services:hover, .services:after, .services:hover:after {
  //background-color: #08152b;
  }

  .services:hover > p > a {
  //color: #fff;
  }

  .services:hover > p > a:hover {
  opacity: 0.8;
  }
  
  .services > p > a {
  color: #08152b;
  }

  .services > p > a:hover {
  opacity: 0.8;
  }

  .services > p > a:hover {
  //color: #fff;
  text-decoration: underline;
  }

  .people {
  width: 50%;
  float: left;
  height: 1000px;
  margin-bottom: -6px;
  padding-left:40px;
  color: #fff;
  }

  .people > p {
  color: #fff;
  }

  .people-content:hover {
  //background: #efefef;
  }
  
  .people-content > p {
  color: #fff;
  }

  .people-content > p > a {
  color: #fff;
  }

  .people-content:hover > p {
  //color: #08152b;
  }

  .people-content:hover > p > a {
  //color: #08152b;
  }

  .people-content > p > a:hover, .people-content:hover > p > a:hover {
  opacity: 0.8;
  }

  .people:hover, .people:after, .people:hover:after {
  //background-color: #efefef;
  }

  .people:hover > p > a {
  //color: #08152b;
  }

  .people:hover > p > a:hover {
  opacity: 0.8;
  }
  
  .people > p > a {
  color: #fff;
  }

  .people > p > a:hover {
  opacity: 0.8;
  }

  .people > p > a:hover {
  //color: #08152b;
  text-decoration: underline;
  }

  #services-offered {
  //background: #efefef url(‘https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/bg_courthouse.jpg') cover;
  //background-size: cover;
  //opacity: 0.4;
  background: linear-gradient(#efefef,#6895e3);
  }
  
  #services-offered:hover {
  //background: #08152b;
  //color: #fff;
  }

  #services-offered p > a, #services-offered p {
  color: #111;
  }

  #services-offered:hover p, #services-offered:hover p > a {
  //color: #fff;
  }

  #services-offered:hover p > a:hover {
  opacity: 0.8;
  text-decoration: underline;
  }

  .service-type > a {
  font-size:21px;
  color:#111;
  font-family:Oswald;
  }

  .service-type > a:hover {
  text-decoration: underline;
  opacity: 0.7;
  color: #333;
  }
  
  .service-description {
  margin-left:20px;
  margin-right:30px;
  font-size:18px;
  display:none;
  }

  .service-group > a {
  font-size:21px;
  color:#fff;
  font-family:Oswald;
  }

  .service-group > a:hover {
  text-decoration: underline;
  opacity: 0.7;
  color: #fff;
  }

  
  #people-served {
  width: 50%;  
  float: left;
  //height: 1000px;
  min-height:800px;
  height:auto;
  overflow:auto;
  position: relative;
  display: block; 
  background: #08152b;
  margin-bottom: -6px;
  }

  #people-served:hover {
  background-image: url(‘https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/bg_courthouse.jpg') no-repeat center right;
  }

  #people-served:hover {
  //background: #efefef;
  //color: #c89f42;
  }

  #people-served p > a, #people-served p {
  color: #fff;
  }

  #people-served:hover p, #people-served:hover p > a {
  //color: #c89f42;
  }

  #people-served:hover p > a:hover {
  opacity: 0.8;
  text-decoration: underline;
  }

  .circle:before {
  content: ' \25CF';
  font-size: 600px;
  position:absolute;
  top:10px;
  left:470px;
  z-index: 100;
  color: #c89f42;
  //margin: -0.5em -0.3em -0.3em -0.1em
  }
  
.header .top-nav .navbar-nav > li > a:hover {
    padding: 10px 8px;
    color: #c89f42;
}
.header .top-nav .navbar-nav > li.active > a:after, .header .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
}
.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
}
.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
}
.header .top-nav .navbar-nav > li > a:hover:after {
    border-bottom: solid 2px #c89f42;
}

.secondary-nav {
width:100%;
max-width:100%;
height: 80px;
padding-top: 14px;
text-align: left;
margin: 0px auto;
background: #c89f42;
border-bottom: 4px solid #c89f42;
box-shadow: inset 0px 0px 50px 20px #193d7d;
}

.secondary-nav > p {
font-family: Oswald;
font-size: 32px;
color: #fff;
text-align: left;
margin-left: 60px;
}


.section-6b {
    height: 450px;
    background: transparent url(https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/contact_rbsk_law.jpg) no-repeat fixed center center;
    background-size: 100%;
}

.section-4b {
    position: relative;
    z-index: 40;
    background: transparent url(https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/terms_definitions_rbsk_law.jpg) no-repeat fixed center top;
    background-size: 100%;
    padding: 120px 0 120px 50%;
}

.bio-link > p {
font-family: Oswald;
font-size: 24px;
text-align: left;
margin-left: 60px;
margin-top: 40px;
}

.bio-link > p > a, .bio-info > p > a, .bio-email > p > a {
    color: #193d7d !important;
text-decoration: none;
}

.bio-link > p > a:hover,.bio-link.p > a:focus, .bio-info > p > a:hover, .bio-info > p > a:focus, .bio-email > p > a:hover, .bio-email > p > a:focus {
    color: #c89f42 !important;
    text-decoration: underline;
}

.bio-link > p > a:focus {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}

.bio-info > p {
font-size: 21px;
font-family: Oswald;
color: #193d7d;
text-align: left;
margin-left: 60px;
}

.bio-email > p {
font-size: 18px;
font-family: Oswald;
color: #193d7d;
text-align: left;
margin-left: 60px;
}


.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
font-family:Oswald;
text-transform:uppercase;
color:#fff;
margin:200px 0px 20px 0px;
text-align:center;
position:relative;
font-size:18px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-200px);
-ms-transform:translatey(-200px);
transform:translatey(-200px);
-webkit-transition:all .5s ease-in-out;
transition:all .5s ease-in-out;
padding:30px;
}

.overlay > a, .overlay > h2 > a {
color: #c89f42 !important;
font-family: Oswald;
font-size:21px;
}

.overlay > h2 > a:hover, .overlay > a:hover {
color:#ddc388 !important;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#c89f42 !important;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .5s ease-in-out;
transition:all .5s ease-in-out;
margin:200px 0 0;
padding:7px 14px;
}


.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.5s;
transition-delay:.5s;
}


</style>


</head>

<body class="marketing-layout chrome_71 unknown chrome modern mac webkit visitor home outplacement en status-200">
    
  <!-- nav_employer_nogov_solutions_production_en: cached at: 2019-01-04 13:10:41 -0800 -->
  <div class="header hidden-sm hidden-xs" style="text-align:center;height:140px !important;">
    <div class="logo" style="float:left;">
      <a href="/" data-action="Logo">
        <%= link_to modern_path do %>
        
	<%= image_tag "https://s3.us-east-2.amazonaws.com/rbsk/logo_blue_gold_spiral_smoothed2.png", class: "", style: "margin-top:0px;height:152px;" %>
        <% end %>
      </a>
    </div>
    <div class="top-nav navbar" style="margin:0px auto;float:right;">
      <ul class="nav navbar-nav ">
          <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <a href="modern">Home</a> </li>
          <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <a href="about_gold">Our People</a> </li>
          <li class="active " style="font-size:16px !important;text-transform:uppercase;"> <a href="practice">Practice Areas</a> </li>
          <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <a href="contact">Contact</a> </li>
      </ul>
    </div>
  </div>
  <!-- end nav -->
  
  <nav class="navbar navbar-default navbar-fixed-top visible-sm-block visible-xs-block" role="navigation" style="z-index: 6000;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" data-action="Logo">
        <img alt="RBSK Law Offices" style="max-width:150px;" src="https://s3.us-east-2.amazonaws.com/rbsk/transparent-rbsk-law-logo-light-backgrounds.png" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      </ul>
    </div><!--/.nav-collapse -->
  </nav>



  <div style="width:100%;position:relative;display:block;margin-top:76px;height:auto;">
    <div class="secondary-nav">
      <p>Our Practice</p>
    </div>

    <div style="height:300px;background: linear-gradient(#c89f42, #fff);border-bottom:60px solid #112a55;">
      <div id="slideshow" style="float:left;margin-left:100px;">
	<div>
	  <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/seniors_people_we_serve_notext.jpeg" height="240" width="360">
	</div>
	<div>															  
	  <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/families.jpg" height="240" width="360">
	</div>
	<div>
	  <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/health_care_providers_people_we_serve_notext.jpeg" height="240" width="360">
	</div>
	<div>
	  <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/service_members.jpg" height="240" width="360">
	</div>
	<div>
	  <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/your_family_people_we_serve.jpg" height="240" width="360">
	</div>
	<div>
	  <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/injured_people_service_members_notext.jpeg" height="240" width="360">
	</div>
	<div>
	  <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/attorneys.jpg" height="240" width="360">
	</div>
	<div>
	  <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/graduates.jpg" height="240" width="360">
	</div>

      </div>

      <div style="position:relative;font-family:Oswald;color:#08152b;margin-right:80px;padding-top:80px;text-align:right;">
	<p style="font-family:Amiri;font-size:32px;line-height:1.3em;text-transform:uppercase;">Reliable.  Dependable.  Trusted.</p>
	<p style="font-size:21px;line-height:1.3em;">You can count on us to provide the services you need when you need them.</p>
      </div>
    </div>

    <div style="clear:both;"></div>
    <!--span class="circle"></span-->
    <div style="width:100%">
      <!--div style="width:50%;float:left;height:1000px;position:relative;display:inline-block;background:#c89f42;background-image:url('https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/bg_courthouse.jpg');background-size:cover;background-position:center right;opacity:0.4;margin-bottom:-6px;"></div-->
      <div id="services-offered" class="services">
	<div style="padding-left:100px;padding-top:60px;font-family:Oswald;font-size:21px;line-height:1.6em;">
	  <p style="font-size:28px;text-transform:uppercase;">Services We Offer<br><br></p>
	  <p>
	    <div class="service-type">
	      <a href="javascript:void(0);">Civil Litigation</a>
	      <div class="service-description">
		<p>The attorneys of RBSK Law Offices have extensive experience handling civil litigation matters for individuals and organizations throughout Massachusetts. We have assisted in resolving disputes related to personal injury claims, real estate disputes, contract disputes and more.</p>
		<p><a href="civil-litigation">Learn More...</a></p>
	      </div>
	    </div>
	  </p>
	  <p>
	    <div class="service-type">
	      <a href="javascript:void(0);">Estate Planning</a>
	      <div class="service-description">
		<p>We review existing estate plans and preparations of estate plans including wills, trusts, powers of attorney, health care proxy, living will, HIPPA release and real estate deeds. We also cover planning for long-term care and administration of an estate including probate of a will, probate of an estate without a will, simple estate administration, license to sell real estate, compromise a will, prepare estate accounts and closing an estate.</p>
		<p><a href="estate-planning">Learn More...</a></p>
	      </div>
	    </div>
	  </p>
	  <p>
	    <div class="service-type">
	      <a href="javascript:void(0);">Fiduciary Services</a>
	      <div class="service-description">
		<p>We proudly cover service areas including trustee services, guardianship/conservatorship services, personal representative services, power of attorney services, health care agent services and escrow agent services.</p>
		<p><a href="fiduciary-services">Learn More...</a></p>
	      </div>
	    </div>
	  </p>
	  <p>
	    <div class="service-type">
	      <a href="javascript:void(0);">Guardianship & Conservatorship</a>
	      <div class="service-description">
		<p>We cover a variety of guardianship and conservatorship services for both individuals and institutions. We have experience representing petitioners in contested matters as well as representing those objecting to petitions or accounts. Our experience working with numerous health care organizations in Massachusetts allows us to quickly provide you with services exactly when you need them most. </p>
		<p><a href="guardianship">Learn More...</a></p>
	      </div>
	    </div>
	  </p>
	  <p>
	    <div class="service-type">
	      <a href="javascript:void(0);">Mental Health Litigation</a>
	      <div class="service-description">
		<p>RBSK Law Offices is counsel to psychiatric facilities in civil commitment and guardianship matters throughout Eastern Massachusetts. The firm also serves as outside associate counsel to several medical facilities, including major tertiary care centers. We have unparalleled experience in all areas of mental health litigation, including statutory and regulatory interpretation, and complex evidentiary issues. </p>
		<p><a href="mental-health">Learn More...</a></p>
	      </div>
	    </div>
	  </p>
	  <p>
	    <div class="service-type">
	      <a href="javascript:void(0);">Personal Injury</a>
	      <div class="service-description">
		<p>Serious personal injury or death of a loved one through an accident or other traumatic event is a devastating occurrence. We work with you and your family to help provide you with the support and guidance you need to achieve the appropriate resolution and compensation for your situation.</p>
		<p><a href="personal-injury">Learn More...</a></p>
	      </div>
	    </div>
	  </p>
	  <p>
	    <div class="service-type">
	      <a href="javascript:void(0);">Probate Litigation</a>
	      <div class="service-description">
		<p>Probate can be a complicated process and having the right attorney on your side can help ensure that the issues encountered can be addressed in a timely and fair manner. Our attorneys work on all matters related to estate disposition, trust establishment and enforcement and equity provisioning. Since probate often overlaps real estate, guardianship and healthy care proxy concerns, our attorneys have experience in those areas as well.</p>
		<p><a href="probate">Learn More...</a></p>
	      </div>
	    </div>
	  </p>
	  <p>
	    <div class="service-type">
	      <a href="javascript:void(0);">Real Estate</a>
	      <div class="service-description">
		<p>RBSK Law Offices is experienced in all areas related to real estate and has represented sellers as well as buyers from the initial purchase and sale through to the closing, always working to provide a smooth on-time closing. We are also available to provide services in fiduciary sales and in the case of land disputes or missing probate.</p>
		<p><a href="real-estate">Learn More...</a></p>
	      </div>
	    </div>
	  </p>
	  <p>
	    <div class="service-type">
	      <a href="javascript:void(0);">Trusts</a>
	      <div class="service-description">
		<p>We cover a variety of trust services including reviews of existing trusts as well as trust preparation services. We are also available to provide assistance with revisions to trusts as well as interpretation of ambiguous trusts. We work with attorneys as well as individuals on these cases.</p>
		<p><a href="trusts">Learn More...</a></p>
	      </div>
	    </div>
	  </p>
	</div>

      </div>


      <div id="people-served" class="people">
	<div style="padding-left:60px;padding-right:60px;padding-top:60px;font-family:Oswald;font-size:21px;line-height:1.6em;">
	  <p style="font-size:28px;text-transform:uppercase;">Who We Serve<br><br></p>
	  <p>
	    <div class="service-group">
	      <a href="javascript:void(0);">Attorneys</a>
		 <div class="service-description">
		   <p>We are experienced in handling cases involving will and trust disputes and have been retained by multiple attorneys for these complex issues. Our team is experienced in probate litigation, power of attorney documentation, guardianship, conservatorship, health care proxy documentation, trusts, real estate and other fiduciary services.</p>
		   <p><a href="attorneys">Learn more...</a></p>
		 </div>
	    </div>
	  </p>
	  <p>
	    <div class="service-group">
	      <a href="javascript:void(0);">Health Care Providers</a>
	      <div class="service-description">
		<p>We understand that patient care is often improved by swift action at the courthouse. We have 20+ years experience providing patient care services and the relationships throughout the Commonwealth to facilitate expeditious processing of patient care cases. Whether an emergency hearing is required for swift patient treatment or you are looking for assistance in providing legal services to your employees at a health care organization, we can provide you with the services you need.</p>
		<p><a href="health-care-providers">Learn More...</a></p>
	      </div>
	    </div>
	  </p>
	  <p>
	    <div class="service-group">
	      <a href="javascript:void(0);">Families</a>
	      <div class="service-description">
		<p>At RBSK Law Offices, we have families too. Like you, we want to protect our loved ones, improve our lives and perhaps try to leave something for the next generation. While the typical family does not need to have a lawyer on retainer, all families should consult with an attorney regarding several very important issues. We recommend that every adult consult a legal professional in key areas including Estate Planning, Real Estate Transactions and Preventative Steps to Protect Your Family.</p>
		<p><a href="families">Learn More...</a></p>
	      </div>
	    </div>
	  </p>
	  <p>
	    <div class="service-group">
	      <a href="javascript:void(0);">New Adults</a>
	      <div class="service-description">
		<p>As a new adult you are now able to make some serious decisions. Being a grown-up can come with new rights as well as many new responsibilities. With these rights, it is now possible for you set your own rules for control of your health care treatment, finances and other relationships with individuals and organizations through contractual documents. Working with our firm can ensure that your rights are protected and that your interests are served.</p>
		<p><a href="new-adults">Learn More...</a></p>
	      </div>
	    </div>
	  </p>
	  <p>
	    <div class="service-group">
	      <a href="javascript:void(0);">Seniors</a>
	      <div class="service-description">
		<p>At RBSK Law Offices we are committed to serving seniors in our community.  We understand that at this stage in life there can be many questions and concerns. Estate planning and gifting, real estate services and elder protective services are areas where we may be able to help you. We are also here to answer any general questions you may have about your life, health or property.</p>
		<p><a href="seniors">Learn More...</a></p>
	      </div>
	    </div>	    
	  </p>
	  <p>
	    <div class="service-group">
	      <a href="javascript:void(0);">Service Members</a>
	      <div class="service-description">
		<p>First, we at RBSK Law Offices would like to say thank you to all of our current and former members of the armed forces for their service. We are forever grateful. We are pleased to offer a number of services including estate planning, real estate services, representation of your interests while on active duty and assistance with disabilities. </p>
		<p><a href="service-members">Learn More...</a></p>
	      </div>
	    </div>
	  </p>
	</div>

      </div>


    <div style="clear:both;"></div>


    </div>
    
    <div style="clear:both;"></div>
    
    <div style="width:100%;background:#112a55;height:60px;"></div>
    
  </div>
  
  
  
  <div style="width:100%;height:10px;background:#c89f42;">
  </div>
  
  <div class="footer-wrap">
    <div class="footer-nav">
      <div>
        <h3><a href="about_gold">About RBSK Law</a></h3>
        <div><a href="testimonials">Testimonials</a></div>
        <div><a href="about_gold">Our People</a></div>
        <div><a href="beaulieu">Matthew Beaulieu</a></div>
        <div><a href="kostin_gold">Heidi Kostin</a></div>
        <div><a href="ready">Richard Ready</a></div>
        <div><a href="saunders">Brandon Saunders</a></div>
      </div>
      <div>
        <h3><a href="practice">Who We Serve</a></h3>
        <div><a href="practice/attorneys">Attorneys</a></div>
        <div><a href="practice/health_care">Health Care Providers</a></div>
        <div><a href="practice/families">Families</a></div>
        <div><a href="practice/new_adults">New Adults</a></div>
        <div><a href="practice/seniors">Seniors</a></div>
        <div><a href="practice/service-members">Service Members</a></div>
        </div>
      <div>
        <h3><a href="practice">Services We Provide</a></h3>
        <div><a href="practice/real-estate">Real Estate</a></div>
      	<div><%= link_to "Probate Litigation", root_path %></div>
      	<div><%= link_to "Guardianship & Conservatorship", root_path %></div>
      	<div><%= link_to "Trusts", root_path %></div>
      	<div><%= link_to "Fiduciary Services", root_path %></div>
      	<div><%= link_to "Personal Injury", root_path %></div>
      	<div><%= link_to "Civil Litigation", root_path %></div>
      	<div><%= link_to "Mental Health Litigation", root_path %></div>
      	<div><%= link_to "Estate Planning & Elder Law", root_path %></div>
      </div>
      <div>
        <h3><a href="contact">Contact Us</a></h3>
	<div><%= link_to "Terms", root_path %></div>
	<div><%= link_to "Definitions", root_path %></div>
	<div><%= link_to "News & Updates", root_path %></div>
      </div>
      
      
    </div>
    
    
    <div class="social-links">
      <a href="https://twitter.com/rbsklaw" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_tw.png" alt="Twitter"/>
      </a>
      <a href="https://www.facebook.com/RBSK_LawOffices" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_fb.png" alt="Facebook"/>
      </a>
      <a href="https://www.linkedin.com/company/RBSK_Law_Offices" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_li.png" alt="LinkedIn"/>
      </a>
    </div>
    
    <div>
      &copy; 2019 RBSK Law  |  All rights reserved
    </div>
  </div>
  
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){

    $("#slideshow > div:gt(0)").hide();

    setInterval(function() { 
    $('#slideshow > div:first')
     .fadeOut(1000)
     .next()
     .fadeIn(1000)
     .end()
     .appendTo('#slideshow');
    },  3000);

    $(".service-type").click(function() {
      $(this).children(".service-description").toggle("slow");
    });  
    $(".service-group").click(function() {
      $(this).children(".service-description").toggle("slow");
    });  

});

</script>



</body>
</html>

